h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

.consultation__name, .contact__name, .gallery__name, .testimonials__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: 48px;
  line-height: 100px;
  text-align: center;
  letter-spacing: -1.5px; }

.consultation__name:after, .contact__name::after, .gallery__name:after, .testimonials__label::after {
  content: url(../images/gall-logo.svg);
  position: relative;
  top: 30px;
  right: 80px; }

.consultation__input, .contact__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 10px;
  font-size: 14px;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  background-color: #f7f8ff;
  border: 1px solid #fff;
  margin-top: 16px; }

.consultation__input:last-child, .contact__input:last-child {
  background: #0075ff;
  -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
          box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
  border: #0075ff;
  margin-top: 32px;
  color: #fff;
  height: 45px; }

.burger__nav {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100vh;
  -webkit-transition: left 0.35s ease;
  transition: left 0.35s ease; }

.burger__closed {
  position: absolute;
  right: 0%; }

.burger__menu:active ~ .burger__nav,
.burger__menu:focus ~ .burger__nav,
.burger__menu:hover ~ .burger__nav {
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 700px;
  background-color: #0075ff;
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
  opacity: 1; }

.header__burger:hover .burger__closed {
  visibility: visible;
  display: absolute;
  z-index: 5; }

.burger__closed:checked .burger__nav {
  display: none;
  position: relative;
  margin-left: 250px; }

.burger__link {
  color: #fff;
  font-size: 22px; }

.burger__link:hover {
  color: #9fadc2; }

.burger__item:last-child {
  color: #fff;
  line-height: 40px;
  border-bottom: 1px solid white; }

.burger__link--phone,
.burger__link--call {
  font-size: 12px;
  color: #fff; }

.consultation {
  margin-top: 152px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%); }
  .consultation__name:after {
    margin-left: -50px; }
  .consultation__input:last-child:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
            box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46); }
  .consultation__text {
    color: #3e3e3e;
    width: 40%; }
    .consultation__text--label {
      color: #0075ff;
      font-weight: bold;
      font-size: 24px; }
  .consultation__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 50px; }
  .consultation__form {
    width: 413px; }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  margin-bottom: 88px; }
  .contact__name {
    margin-top: 150px;
    margin-bottom: 50px; }
    .contact__name::after {
      right: 120px; }
  .contact__adress {
    margin-left: -200px; }
  .contact__label {
    color: #9fadc2;
    font-size: 14px; }
  .contact__form {
    width: 413px; }
  .contact__input:nth-child(3) {
    width: 100%;
    height: 144px; }
  .contact__input:last-child:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
            box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46); }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url(../images/footer.png);
  background-size: cover;
  width: 100%;
  height: 359px; }
  .footer__logo {
    margin-bottom: 5%; }

.gallery__photo {
  height: 256px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center; }

.gallery {
  -ms-flex-item-align: start;
      align-self: start;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%); }
  .gallery__photo:hover {
    -webkit-box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
            box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46); }
  .gallery__middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .gallery__middle .gallery__photo {
      width: 49%; }
      @media screen and (max-width: 700px) {
        .gallery__middle .gallery__photo {
          width: 48%; } }
  .gallery__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .gallery__box .gallery__photo:first-child {
      width: 66%; }
      @media screen and (max-width: 700px) {
        .gallery__box .gallery__photo:first-child {
          width: 48%; } }
    .gallery__box .gallery__photo:last-child {
      width: 32%; }
      @media screen and (max-width: 700px) {
        .gallery__box .gallery__photo:last-child {
          width: 48%; } }
  .gallery__location {
    margin: 10px;
    color: #3e3e3e; }
    .gallery__location--name {
      font-weight: bold;
      color: #0075ff; }
  .gallery__button {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 188px;
    height: 56px;
    border: 2px solid #0075ff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 8px;
    font-weight: bold;
    color: #0075ff;
    cursor: pointer;
    background-color: #fff; }
    .gallery__button:hover {
      -webkit-box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
              box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46); }
  .gallery__small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .gallery__small .gallery__photo:first-child {
      width: 32%; }
      @media screen and (max-width: 700px) {
        .gallery__small .gallery__photo:first-child {
          width: 48%; } }
    .gallery__small .gallery__photo:last-child {
      width: 66%; }
      @media screen and (max-width: 700px) {
        .gallery__small .gallery__photo:last-child {
          width: 48%; } }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
  padding: 2% 10% 5%;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-image: url(../images/header.png);
  background-size: cover;
  width: 100vw;
  height: 700px;
  color: #fff; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__burger, .header__icon {
    display: none; }
  .header__logo {
    width: 115px; }
  .header__link {
    color: #fff;
    line-height: 40px;
    border-bottom: 1px solid white;
    font-size: 12px; }
  .header__phone {
    color: #fff;
    font-size: 12px; }
  .header__text {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.5px; }
  .header__line {
    width: 35px;
    height: 2px;
    border-radius: 2px;
    background-color: #fff; }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .info__name {
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;
    color: #000;
    margin-top: 0; }
    .info__name--accent {
      color: #0075ff;
      font-size: 48px; }
  .info__content {
    width: 40%;
    font-size: 16px;
    line-height: 27px;
    color: #3e3e3e; }
    .info__content--label {
      margin-top: 0;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      color: #0075ff; }
    .info__content--end {
      font-weight: bold; }

@media screen and (max-width: 700px) {
  .container {
    max-width: 300px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%); }
  .header {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .header__top {
      margin-top: -70px; }
    .header__line {
      margin: 5%;
      margin-bottom: -150px; }
    .header__text {
      margin: 5%;
      font-size: 46px; }
    .header__burger, .header__icon {
      display: block;
      cursor: pointer; }
  .nav,
  .header__phone,
  .header__link {
    display: none; }
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .info__content {
      width: 100%; } }

@media screen and (max-width: 700px) and (max-width: 700px) {
  .gallery__photo {
    height: 7em; } }

@media screen and (max-width: 700px) {
  .gallery__button {
    width: 100%; }
  .consultation__name {
    position: relative;
    left: -20px; }
  .consultation__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .consultation__text {
    width: 100%; }
  .consultation__form {
    width: 100%; }
  .testimonials__label {
    position: relative;
    left: 10px; }
  .testimonials__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .contact__form {
      width: 100%;
      margin-bottom: 50px; }
    .contact__adress {
      margin: 0; }
  .footer {
    height: 200px; }
    .footer__logo {
      width: 80px;
      margin-bottom: 2%; } }

@media screen and (min-width: 1900px) {
  .header {
    height: 1000px; }
    .header__line {
      margin-bottom: -100px; }
  .nav__list {
    margin: -3% 10%; } }

@media screen and (min-width: 700px) {
  .burger__menu {
    display: none; } }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5%; }

.nav__link {
  color: #fff;
  font-size: 12px; }

.nav__link:hover {
  color: #9fadc2; }

.nav__link--active {
  padding: 8px 24px;
  border-radius: 8px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1); }

html,
body,
ul,
li,
button,
input,
a {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  list-style: none;
  text-decoration: none; }

.testimonials {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%); }
  .testimonials__label {
    margin: 200px 0 100px; }
    .testimonials__label::after {
      right: 130px; }
  .testimonials__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center; }
  .testimonials__name {
    font-weight: bold;
    font-size: 24px;
    color: #0075ff;
    margin-bottom: 0; }
  .testimonials__prof {
    color: #9fadc2;
    font-size: 14px;
    margin: 4px; }
  .testimonials__text {
    width: 240px;
    color: #3e3e3e;
    margin: 4px; }

html {
  scroll-behavior: smooth; }

.container {
  position: relative;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 1000px;
  left: 50%; }

.main {
  padding-top: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/*# sourceMappingURL=main.css.map */
